<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

    <style>
        body{
            display: flex;
            justify-content: space-around;
        }
        * {
            font-family: 'Poppins';
        }

        .details {
            margin: 1rem;
            padding: 0.4rem 1rem;
            padding-top: 0.2rem;
            border-radius: 20px;
            background-color: #54ff5c;
            color: #000;
        }

        table,
        tr,
        th,
        td {
            border: 1px solid black;
        }

        h4 {
            font-weight: 400;
        }

        table button {
            background-color: #fff;
            padding: 0.1rem 1rem;
            border: none;
            font-weight: 600;
        }
        
        .create{
            width: 10rem;
            height: 3rem;
            background-color: black;
            color: #fff;
            text-decoration: none;
            text-align: center;
            font-size: 15px;
        }

        button:hover {
            cursor: pointer;
        }
    </style>
    <title>Users</title>
</head>

<body>
    <table>
        <tr>
            <th>Sl. No.</th>
            <th>Username</th>
            <th>Email</th>
            <th>Id</th>
        </tr>

        <% result.forEach((user)=>{ %>
            <tr>
                <td>
                    <%= user.username %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.userId %>
                </td>
                <td>
                    <form method="GET" action="/user/<%=user.userId%>/edit">
                        <button>Edit</button>
                    </form>
                </td>
                <% }) %>
            </tr>
    </table>
<a href="http://localhost:8080/user/create" class="create">CREATE NEW ACCOUNT</a>


</body>

</html>